* text=auto
*.cs text eol=lf
*.shader text eol=lf
*.cginc text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.mat text eol=lf
*.meta text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.cmd text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.ogg binary
*.wav binary
*.fbx binary
